@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
  box-sizing: border-box;
}

body {
  margin: 5px;
}

#container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: #f2f2f2;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.table {
  width: 90%;
  margin: auto;
}

.table td {
  vertical-align: middle;
}

.table td, .table th {
  padding: 5px 8px;  
}

#sign-out{
  height: 22px;
  width: 100px;
  margin-top: 2px;
}

#user-info {
  display: contents;
  border: 1px solid #CCC;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
  margin-top: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}
